.workerForm {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
  @apply p-8;
}

.formTitle {
  font-weight: 700;
  font-size: 1rem;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  text-align: center;
  /* color: #2f4444; */
}

.control,
fieldset {
  margin-bottom: 1rem;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;

  background-color: #f0f3f4;
  color: #142020;
}

.control textarea {
  display: block;
  width: 100%;

  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;

  background-color: #f0f3f4;
  color: #142020;
}

.control textarea {
  resize: vertical; /* Allow vertical resizing */
  height: auto;

  min-height: 5rem; /* Set a minimum height */
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
}

.control:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
}

.control:has(input[type="checkbox"]) label {
  margin: 0;
}

.control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #d9e2f1;
}

.control-error {
  color: #ffca99;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.controlRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  @apply text-white bg-black cursor-pointer border-0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  @apply bg-emerald-900;
}

.buttonFlat {
  @apply bg-transparent;
}

.buttonFlat:hover,
.buttonFlat:focus {
  @apply bg-transparent text-emerald-800;
}

.error {
  color: #ffca99;
  padding: 0 1rem;
}
