@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
}

body {
  @apply font-roboto-regular;
}
